//
// Utilities
//
// What you will find here:
// 01. General-use classes & Accessibility
// 02. Mixins
//	-- Style mixins
//	-- Responsive mixins
//	-- Gradients
// 03. Keyframes
// 04. Custom Block Color Themes

// ---------------- 01. General-use classes & Accessibility

.assistive-text,
.visuallyhidden,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


// ---------------- 02. Mixins

// Style mixins


// Responsive mixins
// using breakpoint, but helping readability

@mixin phone-only {
	@include breakpoint($phone) {
		@content;
	}
}

@mixin tablet-only {
	@include breakpoint($tablet) {
		@content;
	}
}

@mixin tablet-portrait {
	@include breakpoint($tablet-portrait) {
		@content;
	}
}

@mixin tablet-landscape {
	@include breakpoint($tablet-landscape) {
		@content;
	}
}

@mixin desktop-only {
	@include breakpoint($desktop) {
		@content;
	}
}

@mixin large-desktop {
	@include breakpoint($large-desktop) {
		@content;
	}
}

@mixin tablet-down {
	@include breakpoint($tablet-portrait-down) {
		@content;
	}
}

@mixin tablet-up {
	@include breakpoint($tablet-landscape-up) {
		@content;
	}
}

@mixin phone-landscape {
	@include breakpoint($phone-landscape) {
		@content;
	}
}


// Gradients
// from https://webgradients.com

@mixin plum-gradient {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

@mixin grey-purple-gradient {
	background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

@mixin dark-aqua-gradient {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

@mixin dark-blue-gradient {
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

@mixin medium-blue-gradient {
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

@mixin light-blue-gradient {
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

@mixin green-gradient {
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

@mixin orange-gradient {
	background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

@mixin sunset-gradient {
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

@mixin light-grey-gradient {
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

// ---------------- 03. Keyframes

// ---------------- 04. Custom Block Color Themes


.has-dark-brown-color {
	color: #312b28;
}
.has-dark-brown-background-color {
	background-color: #312b28;
}

.has-light-brown-color {
	color: #8B7355;
}
.has-light-brown-background-color {
	background-color: #8B7355;
}

.has-peach-color {
	color: #F4A460;
}
.has-peach-background-color {
	background-color: #F4A460;
}

.has-beige-color {
	color: #CDC9A5;
}
.has-beige-background-color {
	background-color: #CDC9A5;
}

.has-cream-color {
	color: #FFE7BA;
}
.has-cream-background-color {
	background-color: #FFE7BA;
}

.has-offwhite-color {
	color: #F2F2F2;
}
.has-offwhite-background-color {
	background-color: #F2F2F2;
}

.has-dark-grey-color {
	color: #131212;
}
.has-dark-grey-background-color {
	background-color: #131212;
}

.has-dark-grey-brown-color {
	color: #34322e;
}
.has-dark-grey-brown-background-color {
	background-color: #34322e;
}

.has-dark-green-color {
	color: #364032;
}
.has-dark-green-background-color {
	background-color: #364032;
}

.has-beige-color {
	color: #CDC9A5;
}
.has-beige-background-color {
	background-color: #CDC9A5;
}

.has-army-green-color {
	color: #668C4A;
}
.has-army-green-background-color {
	background-color: #668C4A;
}

.has-light-army-green-color {
	color: #A6BF4B;
}
.has-light-army-green-background-color {
	background-color: #A6BF4B;
}

.has-cream-yellow-color {
	color: #F2F0D5;
}
.has-cream-yellow-background-color {
	background-color: #F2F0D5;
}

.has-yellow-orange-color {
	color: #F2C53D;
}
.has-yellow-orange-background-color {
	background-color: #F2C53D;
}

.has-medium-grey-color {
	color: #B1B1AC;
}
.has-medium-grey-background-color {
	background-color: #B1B1AC;
}

.has-dark-maroon-color {
	color: #281416;
}
.has-dark-maroon-background-color {
	background-color: #281416;
}

.has-maroon-color {
	color: #5c1d24;
}
.has-maroon-background-color {
	background-color: #5c1d24;
}

.has-book-cover-brown-color {
	color: #583F36;
}
.has-book-cover-brown-background-color {
	background-color: #583F36;
}

.has-muddy-brown-color {
	color: #715337;
}
.has-muddy-brown-background-color {
	background-color: #715337;
}

.has-medium-grey-blue-color {
	color: #677fa5;
}
.has-medium-grey-blue-background-color {
	background-color: #677fa5;
}

.has-light-grey-blue-color {
	color: #BFCAD8;
}
.has-light-grey-blue-background-color {
	background-color: #BFCAD8;
}

.has-subtle-blue-color {
	color: #EDF1F4;
}
.has-subtle-blue-background-color {
	background-color: #EDF1F4;
}

.has-trendy-grey-color {
	color: #666161;
}
.has-trendy-grey-background-color {
	background-color: #666161;
}

.has-dusty-grey-color {
	color: #ADA5A5;
}
.has-dusty-grey-background-color {
	background-color: #ADA5A5;
}

.has-rusty-maroon-color {
	color: #322323;
}
.has-rusty-maroon-background-color {
	background-color: #322323;
}

.has-trendy-maroon-color {
	color: #744140;
}
.has-trendy-maroon-background-color {
	background-color: #744140;
}

.has-eggshell-color {
	color: #F3E9D7;
}
.has-eggshell-background-color {
	background-color: #F3E9D7;
}

.has-subtle-red-color {
	color: #E6DADA;
}
.has-subtle-red-background-color {
	background-color: #E6DADA;
}